body {
  height: 100vh;
  background: #f5576c;
  background: linear-gradient(
    180deg,
    rgba(245, 87, 108, 1) 50%,
    hsl(204, 56%, 30%) 80%,
    hsl(204, 56%, 10%) 100%
  );
}

#wave {
  top: 0px;
  left: 0px;
  width: 100%;
  position: absolute;
  background: hsl(352, 89%, 88%);
  height: 100px;
  margin: 0px;
  padding-top: 400px;
}
